body {
  background-image: url("minimalism.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1 {
	margin-left: 670px;
	display: inline;
    font-family: cursive;
    color: rgb(190, 117, 61);
    font-style: oblique;
    font-size: 40px;
    display: inline;
}
#main {
	font-family: cursive;
	font-style: bold;
	color:black;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
	padding: 7px;
}
#first {
	background-color: rgb(174,54,54);
	border: 0px solid;
	padding: 15px;
	border-radius: 250px;
	display: inline-block;
}
div a:hover {
	background-color: rgb(255, 220, 166);
	border-radius: 15px;
	cursor: pointer;
}
li a:hover {
	background-color: rgba(255, 220, 166,0.5);
	border-radius: 15px;

	cursor: pointer;
}
#desc {
	font-family: cursive;
	font-style: bold;
	font-size: 25px;
	margin-left: 15px;
	margin-top: 50px;
}
table {
	border: 0px solid;
 	border-collapse: collapse;
 	margin-top: 50px;
 	margin-left: 20px;
 	width: 1455px;
}
th, tr, td{
	background-color: rgba(0,0,0,0);
	border: 0px solid;
	border-collapse: none;
	text-align: left;
	padding: 1px;
}
.poets {
	font-size: 30px;
	border: 0px solid;
	padding-bottom: 10px;
	font-family: cursive;
}
p {
	margin-top: 50px;
	font-family: cursive;
}
